@model IEnumerable<SpodIglyMVC.Models.Bill>
@{
    ViewBag.Title = "BillsList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<div>

    <hr />

    <h2 class="manageHeader">Twoje rachunki</h2>

    <div>

        @if (Model.Any())
        {

        <table id="bills-table">


            @foreach (var bill in Model)
                {
            <tr @if (bill.PaymentState == SpodIglyMVC.Models.PaymentState.New) { <text> class="newBill" </text>       }>
                <td>
                    <strong>Nr rachunku: </strong>@bill.BillId
                </td>
                <td>
                    <strong>Data: </strong>
                    @bill.DateCreated.ToString("dd-MM-yyyy")
                </td>
                <td>
                    <strong>Stan: </strong><br />

                    @if (ViewBag.UserIsAdmin)
                            {
                                using (Html.BeginForm("ChangeBillState", "Manage"))
                                {
                    @Html.HiddenFor(o => bill.BillId)
                    @Html.EnumDropDownListFor(o => bill.PaymentState, new { @class = "billstateddl" })
                                }
                            }
                            else
                            {
                    @Html.DisplayFor(o => bill.PaymentState)
                            }

                </td>

                <td>
                    <strong>Dane wysyłkowe:</strong><br />
                    @bill.FirstName @bill.LastName<br />
                    @bill.Address<br />
                    @bill.CodeAndCity<br />
                </td>
                <td>
                    <strong>Uwagi: </strong><br />
                    @bill.Comment
                </td>
                <td>
                    <strong>Łączny koszt:</strong> @bill.Total zł
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <section>
                        <ul class="ThreeColumnsStaticCoversList large-cover-list-bottom">

                            @foreach (var billItem in bill.BillItems)
                                    {
                            <li>
                                <article>
                                    <a class="productdetailslink" href="@Url.Action("Details", "Hotel", new { id = billItem.ReservationId })">
                                        
                                        <h1>
                                            @billItem.Bill.ReservationId - @billItem.Room.RoomName<br />
                                            <strong>okres: (@reservationItem.StartDate - @reservationItem.EndDate), łącznie: @(billItem.Quantity * @billItem.UnitPrice)  zł</strong>
                                       
                                            <br />
                                            <strong>Status: @billItem.PaymentState</strong>
                                        </h1>
                                    </a>
                                </article>
                            </li>
                                    }

                        </ul>

                    </section>
                </td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>

 <!-- Next bill -->

                }


        </table>
        }
        else
        {
        <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
            Brak rachunków.
        </div>
        }
    </div>



</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(".billstateddl").on('change', function (e) {
        //e.preventDefault();

        var f = $(this.form);
        var tr = f.closest("tr");

        var action = f.attr("action");
        var serializedForm = f.serialize();
        $.post(action, serializedForm).done(function (data) {
            if (data == '@SpodIglyMVC.Models.PaymentState.New.ToString()') {
                tr.addClass("newBill")
            }
            else {
                tr.removeClass("newBill");
            }
          });
    });
</script>
