<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Sleep Well</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    @RenderSection("StylesTop", required: false)
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>

    <header class="main-header container-fluid">
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div class="col">
                    <img src="~/Content/images/logo.png">
                </div>
                <div class="col-auto menu-top">
                    <a href="@Url.Action("StaticPage", "Home", new { viewname = "Onas" }, null)">O PENSJONACIE</a>
                    <a href="@Url.Action("StaticPage", "Home", new { viewname = "Kontakt" }, null)">KONTAKT</a>
                    <a href="@Url.Action("Index", "Home")" class="red-btn">REZERWACJA ONLINE</a>
                </div>
            </div>
        </div>
    </header>
    <nav class="menu-header container-fluid">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    @Html.ActionLink("Strona główna", "Index", "Home")<span class="spacer">/</span>@ViewBag.Title
                </div>
                    <div class="col-auto">
                        <ul class="main-menu">
                            @if (Request.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <li><strong><a href="@Url.Action("Index", "Admin")">UŻYTKOWNICY</a></strong></li>
                                }
                                if (User.IsInRole("Manager"))
                                {
                                    <li><strong><a href="@Url.Action("AllReclamations", "Reclamation")">ZARZĄDZANIE REKLAMACJAMI</a></strong></li>
                                    <li><a href="@Url.Action("AllReservations", "Reservation")">ZARZĄDZANIE REZERWACJAMI</a></li>
                                }
                                if (User.IsInRole("Receptionist"))
                                {
                                    <li><strong><a href="@Url.Action("AllReservations", "Reservation")">ZARZĄDZANIE REZERWACJAMI</a></strong></li>
                                    <li><strong><a href="@Url.Action("AllBills", "Bill")">ZARZĄDZANIE RACHUNKAMI</a></strong></li>
                                }
                                if (!(User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Receptionist")))
                                {
                                    <li><strong><a href="@Url.Action("Index", "Reservation")">MOJE REZERWACJE</a></strong></li>
                                    <li><a href="@Url.Action("Index", "Reclamation")">REKLAMACJE</a></li>
                                }

                                <li><a href="@Url.Action("Index", "Manage")">MOJE KONTO</a></li>

                                <li><a href="#" id="logoutFormSubmit">WYLOGUJ</a></li>
                                <script>
                                    var logout_btn = document.getElementById('logoutFormSubmit');
                                    logout_btn.addEventListener("click", function () {
                                        document.getElementById('logoutForm').submit();
                                    });
                                </script>
                            }
                            else
                            {
                                <li>@Html.ActionLink("LOGOWANIE", "Login", "Account")</li>
                                <li>@Html.ActionLink("REJESTRACJA", "Login", "Account")</li>
                            }
                        </ul>
                    </div>
            </div>
        </div>
    </nav>
    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", returnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
    }
    <main class="main-content container">
        <div class="row justify-content-md-center">
            @RenderBody()
        </div>
    </main>
    <footer class="main-footer container-fluid">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <p>&copy; @DateTime.Now.Year SleepWell | Wszelkie prawa zastrzeżone.</p>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("ScriptsBottom", required: false)
    <script src="~/Scripts/additional/scripts.js"></script>
</body>
</html>